
#my_table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 90%;
  margin: 0 auto;
  font-size: 15px;
}

#my_table td, #my_table th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

#my_table tr:nth-child(even){background-color: #f2f2f2;}

#my_table tr:hover {
  background-color: #ddd;
  cursor: pointer;
}

#my_table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #3287db;
  color: white;
}

@media (max-width: 520px)
{
  #my_table {
    font-size: 10px;
  }
}

